.container {
  display: flex;
  justify-content: space-evenly;
}






img {
  display: block;
  max-width: 100%;
}


.wrapper {
  overflow: hidden;
  /*display: grid;*/
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  overflow: hidden;
  height: 100vh;


  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;
  }
}


.gallery {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  display: flex;

  @media screen and (min-width: $large) {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
  }
}

.gallery_img{
  scroll-snap-align: start;
  margin-bottom: 10px;
  min-height: 100vh ;
  object-fit: cover;
}




.lil-nav{
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  grid-row-start: 2;

  @media screen and (min-width: 1200px) {
    overflow-y:scroll;
    overflow-x: hidden;
    display:block;
    grid-row-start:auto;
    
  }
}

.lil-nav a{
  height: px;
  display: flex;
  
}

.lil-nav_img{
  object-fit: cover;
  filter: saturate(0);
  transition: 0,3s ease all;
}

.lil-nav_img:hover{
  transform: scale(1.05);
  filter: saturate(1);
}



@media screen and (min-device-width: 720px) and (max-device-width: 1920px) {

  .container {
    display: flex;
    flex-wrap: nowrap;

    border: solid 1px blue
  }

  .item {
    border: solid 1px red;
    padding: 2px;
    max-width: 25%;
  }




}

@media screen and (min-device-width: 0) and (max-device-width: 720px) {

  .container {
    display: flex;

    flex-wrap: wrap;

    border: solid 1px burlywood
  }

  .item {
    border: solid 1px chartreuse;
    padding: 2px;
  }





}












input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  border: 2px solid #ddd;
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 1rem;
  height: 2px;
  background-color: #212121;
  transform: translate(-50%, -50%);
}

.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  font-family: sans-serif;
  max-width: 5rem;
  padding: .5rem;
  border: solid #ddd;
  border-width: 0 2px;
  font-size: 2rem;
  height: 3rem;
  font-weight: bold;
  text-align: center;
}